In [1]:
import pandas as pd
import json
import traceback

import sys
sys.path.insert(1, '../')
import modules as md
ROOT_DIR = "../"

In [19]:
historic_classifications = pd.read_csv(ROOT_DIR + md.HISTORIC_CLASSIFICATIONS, header = 0)

reversed_dict = {v: k for k, v in md.ALL_ACCOUNT_LIKE.items()}
historic_classifications.loc[:,'where'] = historic_classifications.loc[:,'where'].apply(lambda x: x if (x in md.ALL_ACCOUNT_LIKE.values()) else md.ALL_ACCOUNT_LIKE[x])

print(historic_classifications['where'].unique())

historic_classifications.head(6)

# historic_classifications.to_csv(ROOT_DIR + md.HISTORIC_CLASSIFICATIONS)

['bs' 'br' 'bd' 'be']

In [16]:
historic_classifications.query('movement == "transfer"')

,movement,total,date,where,description_full,code,description_short,submitted_date,transfer_account
54,transfer,NaN,2-Sep-2023,input,Transfer to Andre Medina BSB 944600 Account 00...,NaN,moving earnigns,2023-09-21 14:14:49.795968,bd
55,transfer,NaN,2-Sep-2023,input,Transfer to Andre Medina BSB 944600 Account 00...,NaN,moving earnigns,2023-09-21 14:20:31.483468,bd
56,transfer,NaN,2-Sep-2023,input,Transfer to Andre Medina BSB 944600 Account 00...,NaN,moving earnigns,2023-09-21 14:21:55.426779,bd
57,transfer,NaN,2-Sep-2023,input,Transfer to Andre Medina BSB 944600 Account 00...,NaN,moving earnigns,2023-09-21 14:24:26.258206,bd
58,transfer,NaN,2-Sep-2023,input,Transfer to Andre Medina BSB 944600 Account 00...,NaN,moving earnigns,2023-09-21 14:24:38.021448,undefined
59,transfer,NaN,2-Sep-2023,input,Transfer to Andre Medina BSB 944600 Account 00...,NaN,moving earnigns,2023-09-21 14:25:31.952629,undefined
60,transfer,NaN,10-Sep-2023,blue_card,Transfer from Andre Medina BSB 944600 Account ...,NaN,needed money,2023-09-21 14:48:45.129568,bd
61,transfer,NaN,10-Sep-2023,blue_card,Transfer from Andre Medina BSB 944600 Account ...,NaN,needed money,2023-09-29 15:20:01.563187,bd
62,transfer,NaN,10-Sep-2023,blue_card,Transfer from Andre Medina BSB 944600 Account ...,NaN,needed money,2023-09-29 15:45:18.603728,bd
63,transfer,NaN,10-Sep-2023,blue_card,Transfer from Andre Medina BSB 944600 Account ...,NaN,needed money,2023-09-29 15:45:27.951408,bd
64,transfer,NaN,10-Sep-2023,blue_card,Transfer from Andre Medina BSB 944600 Account ...,NaN,needed money,2023-09-29 15:45:34.879145,bd
65,transfer,200.0,10-Sep-2023,pink_card,Transfer from Andre Medina BSB 944600 Account ...,NaN,needed money,2023-09-29 17:00:30.355963,bd
66,transfer,400.0,14-Sep-2023,pink_card,Transfer from Andre Medina BSB 944600 Account ...,NaN,needed money,2023-09-29 17:00:48.175730,bd
67,transfer,400.0,14-Sep-2023,pink_card,Transfer from Andre Medina BSB 944600 Account ...,NaN,needed money,2023-09-29 17:01:00.561940,bd