In [2]:
import pandas as pd
import json

In [69]:
some_dict = [
    {'Asset': 'A', 'Scenario': 'a', 'Predictions': {'x': 1, 'y': 2, 'z':3}},
    {'Asset': 'A', 'Scenario': 'b', 'Predictions': {'x': 3, 'y': 4}},
    {'Asset': 'A', 'Scenario': 'c', 'Predictions': {'x': 3, 'z': 4}},
    {'Asset': 'B', 'Scenario': 'a', 'Predictions': {'x': 5, 'y': 6}},
    {'Asset': 'B', 'Scenario': 'b', 'Predictions': {'x': 7, 'y': 8}},
]
df = pd.json_normalize(some_dict).set_index(['Asset','Scenario'])
df.columns = [x.split('.')[1] for x in df.columns]
# df.columns = ['x', 'y', 'col1', 'col2']
df

                x    y    z
Asset Scenario
A     a         1  2.0  3.0
      b         3  4.0  NaN
      c         3  NaN  4.0
B     a         5  6.0  NaN
      b         7  8.0  NaN

In [59]:
import pandas as pd
some_dict = {'A': {'a': {'x': 1, 'y': 2, 'z':3}, 'b': {'x': 3, 'y': 4}, 'c': {'x': 3, 'z': 4}}, 'B': {'a': {'x': 5, 'y': 6}, 'b': {'x': 7, 'y': 8}}}
df = pd.DataFrame.from_dict(some_dict, orient='index')
df = df.melt(ignore_index=False).reset_index().set_index(['index','variable'])
df = pd.json_normalize(df['value']).set_index(df.index)
print(df)

                  x    y    z
index variable
A     a         1.0  2.0  3.0
B     a         5.0  6.0  NaN
A     b         3.0  4.0  NaN
B     b         7.0  8.0  NaN
A     c         3.0  NaN  4.0
B     c         NaN  NaN  NaN

index  variable
A      a           {'x': 1, 'y': 2}
B      a           {'x': 5, 'y': 6}
A      b           {'x': 3, 'y': 4}
B      b           {'x': 7, 'y': 8}
Name: value, dtype: object

                x  y
index variable
A     a         1  2
B     a         5  6
A     b         3  4
B     b         7  8